* {
	width: 100%;
	font-size: 100px;
	padding: 0;
	margin: 0;

}

/* @media screen and (max-device-width:990px) {
	body {
		font-size: 14px;
	}
}


@media screen and (min-device-width:991px) {
	body {
		font-size: 15px;
	}
}
 */
.header {
	width: 100%;
	height: .88rem;
	background-color: #fff;
	position: fixed;
}

/* @media screen and (min-device-width:992px) {
	.header-nav {
	    max-width: 960px;
	}
}


@media screen and (min-device-width:768px) {
	.header-nav  {
	    max-width: 720px;
	}
}

@media screen and (min-device-width:756px) {
	.header-nav  {
	    max-width: 540px;
	}
} */




.header-nav {
	width:11.4rem;
	display: flex;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999;
	
	/* 第一个和最后一个,紧挨容器的开始和结束 */
	justify-content: space-between;
	/* 前后距离是中间的1/2 */
	/* justify-content: space-around; */
	align-items: center;   
	  
	   margin: 0 auto;
	   text-align: center;
}

.nav-img {
	display: inline-block;
	width: 1.7rem;
	display: flex;
}

.nav-img>img {
	width: 1.7rem;
	height: .441rem;
}

.header-nav>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: .88rem;

}

li {
	list-style: none;
}

.nav-text {
	margin:0 1.5rem;
}

.nav-text>li {
	height: .88rem;
	display: flex;
	/* flex: 1; */
	justify-content:space-around;
	align-items: center;
	position: relative;
	/* 让li的宽度随文字变化 */
	width:auto;
	white-space:nowrap;
	margin:0 .2rem;
}

.nav-text>li::before {
	content: '';
	position: absolute;
	    top: .28rem;
	    left: -.2rem;
	width: .3rem;
	height: .3rem;
	border: 1px solid #85B72C;
	border-radius: 50%;
	background-color: #85B72C;
	    opacity: .3;
		z-index: -1;
	transition: .3s;
	transform: scale(0);
}

.nav-text>li:hover::before {
	transform: scale(1);
	z-index: 1;
}

.nav-text>li>a {
	
	font-size: .15rem;
	
	    color: #1D2228;
	    font-weight: 700;
}

a {
	text-decoration: none;
}

.nav-icon {
	width: .93rem;
	/* background-color: thistle; */
	height: inherit;
}

.nav-icon>ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-icon>ul>li {
	list-style: none;
	font-size: .15rem;
	font-weight: 400;
	    padding: .28rem .15rem;
	    position: relative;
	    
	    
}

.nav-icon>ul>li>i {
	font-size: .24rem;
	-webkit-transition: .3s;
	transition: .3s;	
}

.nav-icon>ul>li>i:hover {
	color: #85B72C;
}